@import url(./navbar.css);



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.menu {
  margin: 0;
  display: flex;
  width: 100%;
  height: 94vh;
  justify-content: center;
  align-items: center;
  background-image: url(../ressources/bleudegueu.png);
  background-size: cover;
  background-position: center center;
  gap:30px;
  position: relative;
}

.menu .blur{
  position: absolute;
  top:50%;
  left:50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
}

.menu .gauche{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding:1rem;
}

.menu .droite{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 530px;
  padding:1rem;
  z-index: 9999;
}

.droite img{
  margin: auto;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.menu .gauche h3 {
  font-size: max(2vw, 30px);
  font-weight: 200;
  font-family: 'josefin', sans-serif;
  letter-spacing: 1.2px;
  text-align: center;
  text-shadow: white 1px 0 1px;
}


body {
  background-color: hsl(0, 0%, 12%);
  color: hsl(0, 0%, 100%);
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.image-box {
  height: 800px;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-box {
  padding-inline: 5em;
}

.content-box p {
  font-size: max(1vw, 20px);
}

.title {
  font-size: max(2vw,50px);
  max-width: max-content;
  margin-block-end: 0.25em;
}

.text {
  opacity: 0.6;
  line-height: 2.25;
}

.red {
  color: var(--c-gold);
  text-transform: uppercase;
  transition: 0.5s all ease;
}

.bandeau {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  background: #333;
  padding: 0.4rem 1rem;
  align-items: center;
  z-index: 1;
  transition: all 0.5s ease;
}

.bandeau .titre h2 {
  cursor:default;
  font-size: 2em;
  max-width: max-content;
  margin-block-end: 0.25em;
}

.bandeau .contenu-bandeau {
  width: 100%;
  max-width: 900px;
  min-height: 200px;
  display: flex;
  flex-direction: row;
  transition: 0.5s all ease;
  border: 1px solid black;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  background: var(--c-lightblue);
  transition: all 0.5s ease;
}

#prod-visu {
  display: none;
}

#AP-visu {
  display: none;
}

#Stage {
  background: var(--c-lightblue);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.bandeau .ligne1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 1rem;
  font-size: 1em;
  font-family: 'josefin', sans-serif;
  transition: 0.5s all ease;
}

.bandeau .ligne2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  transition: all 0.5s ease;
  width: 100%;
  max-width: 300px;
}

.bandeau .ligne1 a {
  color: white;
}

.bandeau .ligne1:hover {
  cursor: pointer;
  transition: all 0.5s ease;
  border-radius: 5px;
  cursor: default;
}

.contenu-bandeau {
  background: var(--c-lightblue);
  transition: all 0.5s ease;
}

.bandeau ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 900px;
}

.bandeau ul li {
  padding: 0.5rem;
  border: 1px solid black;
  border-bottom: none;
  width: 100%;
  max-width: 250px;

}

.image-box .img {
  transform: scale(1.5);
  transition: 1.2s cubic-bezier(0.17, 0.97, 0.38, 1);
}

.image-box.revealed .img {
  transform: scale(1.5);
}

/*Projet*/

.competences {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.competences h2,
.contact h2 {
  cursor:default;
  margin-top: 80px;
  font-size: 50px;
}

.container {
  width: 100%;
  max-width: 1500px;
  position: relative;
  column-gap: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container .card {
  position: relative;
  cursor: pointer;
}

.container .card .face {
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.container .card .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container .card:hover .face.face1 .content {
  opacity: 1;
}

.container .card .face.face1 .content img {
  max-width: 100px;
}

.container .card .face.face1 .content h3 {
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}

.container .card .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.container .card .face.face2 .content p {
  color: black;
  margin: 0;
  padding: 0;
  text-align: center;
}

.container .card .face.face2 .content a {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
  border-radius: 5px;
}

.container .card .face.face2 .content a:hover {
  background: #333;
  color: #fff;
}

/*CONTACT*/

.contact {
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/*Contact réseayx*/
.social-icons {
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.icon {
  float: left;
  position: relative;
  width: 100%;
  height: 100px;
  margin: 1% 0.5%;
  padding-bottom: 19%;
}

.icon:last-of-type {
  margin-right: 0;
}

.icon a {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 10px;
  background-color: #fff;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 0.2s ease-out;
}

.icon a:hover {
  background-color: #222;
  background-size: 0%;
  transition: all 0.2s ease-out;
}

.icon__name {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -7px;
  color: #fff;
  font-size: 13px;
  text-align: center;
  transition: all 0.3s ease-out;
  opacity: 0;
  filter: blur(25px);
  transform: translateZ(0);
  will-change: transform;
}

.icon:hover .icon__name {
  transition: all 0.3s ease-out;
  opacity: 1;
  filter: blur(0);
}

.icon--linkedin a {
  background-color: #007fb1;
  background-image: url("https://benhodgson.net/img/social/linkedin.svg");
}

.icon--github a {
  background-color: #4078c0;
  background-image: url('https://benhodgson.net/img/social/github.svg');
}

.conteneur {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 0;
  width: 100%;
  max-width: 1800px;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.carte {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 300px;
  height: 200px;
  background: #333;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: all 0.5s ease;
}

.carte .ligne1 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  top: 0;
  left: 0;
  font-size: 30px;
  font-family: 'josefin', sans-serif;
}

.carte .ligne2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 50px;
  transition: all 0.5s ease;
}

.carte .ligne2 a {
  color: white;
}

.carte .ligne2:hover {
  cursor: pointer;
  transition: all 0.5s ease;
  border-radius: 5px;
}


.carte:hover {
  background: var(--c-lightblue);
  transition: all 0.5s ease;
}

/*Veille*/


.veille{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding:2rem;
}

.veille h2{
  padding:1rem;
  font-size: max(2vw,30px);
  font-family: 'Josefin', sans-serif;
  
}

.veille h3{
  margin:50px auto;
  font-size: max(2vw, 20px);
}


.veille .articles{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:35px;
}

.veille .articles .bloc{
  display: flex;
  flex-direction: column;
  gap:10px;
  width: 100%;
  max-width: 300px;
  min-height: 500px;
  color:white;
  background-color: #222;
  padding:5px;
  border-radius: 5px;
  box-shadow: var(--s-shadow2); 
}

.veille .articles .bloc .img{
  width: 100%;
  height: 250px;
  border-radius: 5px;
}

.veille .articles .bloc .texte{
  display: flex;
  width: 100%;
}


.veille .articles .bloc .img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}








/*Footer*/

footer {
  display: flex;
  width: 100%;
  height: 5vh;
  background-color: var(--c-bleu);
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer p{
  cursor: default;
}

footer p a {
  color: white;
  font-size: 15px;
  transition: all 0.5s ease;
  cursor:pointer
}

footer p a:hover{
  color: var(--c-lightblue);
  transition: all 0.5s ease;
}

/*Media query*/

@media only screen and (max-width: 768px) {
  .section {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .title {
    font-size: 3em;
  }

  .content-box {
    padding: 2em;
  }
}

@media only screen and (max-width: 480px) {
  .title {
    font-size: 2em;
  }

  .text {
    font-size: 0.8em;
  }
}


@media all and (min-width: 640px) {
  .icon {
    width: 100%;
    padding-bottom: 9%;
  }
}

@media screen and (max-width:1000px) {
  .bandeau .contenu-bandeau {
    flex-direction: column;
  }
}

@media screen and (max-width:800px) {
  .menu{
    flex-direction: column;
  }

  .menu .droite img{
    width: 60%;
  }
}

/* Animation Scroll*/


[data-reveal="left"] {
  clip-path: inset(0 100% 0 0);
}

[data-reveal="left"].revealed {
  animation: reveal-left 1.2s cubic-bezier(0.17, 0.97, 0.38, 1) forwards 300ms;
}

@keyframes reveal-left {
  0% {
    clip-path: inset(0 100% 0 0);
  }

  100% {
    clip-path: inset(0 0 0 0);
  }
}

[data-reveal="right"] {
  clip-path: inset(0 0 0 100%);
}

[data-reveal="right"].revealed {
  animation: reveal-right 1.2s cubic-bezier(0.17, 0.97, 0.38, 1) forwards 300ms;
}

@keyframes reveal-right {
  0% {
    clip-path: inset(0 0 0 100%);
  }

  100% {
    clip-path: inset(0 0 0 0);
  }
}